.env
.env.*
*.env
*.pem
*.key
*.cert



**/.terraform/*
*.tfstate
*.tfstate.*
*.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc



__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
src/backend/uploads/*
!src/backend/uploads/.gitkeep



node_modules/
dist/
build/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*



.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

FLOW.TXT
