# Local .terraform directories
**/.terraform/*

# .tfstate files 
*.tfstate
*.tfstate.*
*.tfstate.backup

# Crash log files
crash.log
crash.*.log

# Exclude my local variable files t
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# temporary files on vs code
.DS_Store
.idea/
.vscode/
*.swp